@using ElectronicJournal.Web.Areas.Teacher.Models.HomeWorks

@model GetHomeWorksViewModel
@{
    ViewBag.CurrentPageName = ElectronicJournalPageNames.PageNames.TeacherHomeWorks;
    ViewBag.Title = ElectronicJournalPageNames.DisplayPageNames.TeacherHomeWorks;
}

<h1>
    Домашние задания
</h1>
<form method="post" asp-action="Index">
    <input type="hidden" asp-for="Input.AcademicSubjectId" />
    <label class="h3">Параметры сортировки</label>
    <div class="form-row">
        <div class="col-3 form-group ">
            <label>Выбор даты</label>
            <div class="date datepickerMonth">
                <input type="text" asp-for="Input.DateString" class="form-control">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <div class="col-3 form-group">
            <label>Выбор учебной группы</label>
            <select class="custom-select-sm ml-1" asp-for="Input.StudyGroupId" asp-items="ViewBag.StudyGroups">
                <option selected="selected" value="null" disabled="disabled">Выберите учебную группу</option>
            </select>
        </div>
    </div>

    <div class="form-row justify-content-end">
        <div class="col form-group text-right">
            <input type="submit" class="btn btn-primary" value="Применить" />
        </div>
    </div>
</form>
@if (Model.Input.AcademicSubjectId.HasValue && Model.Input.StudyGroupId.HasValue)
{
    <div class="mt-1 border-top border-bottom mb-1 text-right">
        <a class="btn mb-1 mt-1 btn-success"
           asp-route-SubjectId="@Model.Input.AcademicSubjectId"
           asp-route-StudyGroupId="@(Model.Input.StudyGroupId)"
           asp-action="CreateHomeWork">
            Создать задание
        </a>
    </div>

}
@if (Model.Input.AcademicSubjectId.HasValue)
	{
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Группа</th>
            <th scope="col">Предмет</th>
            <th scope="col">Время сдачи</th>
            <th scope="col">Описание</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var homeWork in Model.Value.Items)
        {
        <tr>
            <th scope="row">@homeWork.Id</th>
            <td>@homeWork.StudyGroup.Name</td>
            <td>@homeWork.AcademicSubject.Name</td>
            <td>@homeWork.EndDate.ToShortDateString()</td>
            <td>@homeWork.Description</td>
            <td><a class="btn btn-primary" 
                   asp-action="EditInfoHomeWork" 
                   asp-route-homeWorkId="@homeWork.Id">Изменить</a></td>
        </tr>
        }
    </tbody>
</table>
}
else
{
    <div class="h3 text-danger">Вы ничего не преподаете</div>
}



